* {
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.container::before, .container::after {
	content: " ";
	display: block;
	clear: both;
}

/*HEADER*/

header {
	background-color: #313234;
}

header > nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

header > nav ul > li {
	display: inline-block;
}

header > nav ul > li > a {
	line-height: 50px;
	padding: 0 10px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

header > nav ul > li >a:hover {
	background-color: #CCC;
}

header > nav img {
	padding: 10px 0;
}

/*MAIN*/
.main {
	margin-top: 10px;
	margin-bottom: 20px;
}
.main-text {
	background-color: #CCC;
	padding: 10px;
	text-align: center;
}
.gallery {
	margin-top: 20px;
	margin-bottom: 20px;
}

.photo {
	float: left;
	width: 30%;
	height: 150px;
	margin-right: 5%;
	background-color: #CCC;
	text-align: center;
}

.photo:last-of-type {
	margin-right: 0;
}

.map img {
	width: 100%;
	margin-top: 10px;
}

/*FOOTER*/

.footer {
	height: 50px;
	background-color: yellow;
	text-align: center;
	padding-top: 15px;
}
 /*MEDIA*/

@media (max-width: 768px) {

	header > nav ul > li {
		display: block;
	}

	header > nav ul {
		float: none;
	}

	header {
		text-align: center;
	}

	.photo {
		float: none;
	}

	.main {
		padding: 10px 30px;
	}

	.photo {
		width: 100%;
		margin-bottom: 15px;
	}
 }
